name: build

on: 
  workflow_dispatch:
      
  push:
    branches:
      - main

  pull_request_target:
    types: [opened, reopened, synchronize]

env:
  BUILD_NUMBER: ${{ github.run_id }}-${{ github.run_number }}-${{ github.run_attempt }}
      
jobs:
  validate-frontend:
    uses: iccowan/AviationAPIv2/.github/workflows/validate-www.yml@main

  validate:
    uses: iccowan/AviationAPIv2/.github/workflows/validate.yml@main

  validate-tf:
    uses: iccowan/AviationAPIv2/.github/workflows/validate-tf.yml@main
    secrets:
      TF_ROLE_ARN: ${{ secrets.TF_ROLE_ARN }}
      TF_BACKEND_ROLE_ARN: ${{ secrets.TF_BACKEND_ROLE_ARN }}

  build-frontend:
    uses: iccowan/AviationAPIv2/.github/workflows/build-www.yml@main
    needs: validate-frontend
    with:
      build-number: ${{ github.run_id }}-${{ github.run_number }}-${{ github.run_attempt }}
    secrets:
      BUILD_ROLE_ARN: ${{ secrets.BUILD_ROLE_ARN }}

  build-api:
    uses: iccowan/AviationAPIv2/.github/workflows/build-module.yml@main
    needs: validate
    with:
      module-name: api
      build-number: ${{ github.run_id }}-${{ github.run_number }}-${{ github.run_attempt }}
    secrets:
      BUILD_ROLE_ARN: ${{ secrets.BUILD_ROLE_ARN }}

  build-chart-pre-processor:
    uses: iccowan/AviationAPIv2/.github/workflows/build-module.yml@main
    needs: validate
    with:
      module-name: chart_pre_processor
      build-number: ${{ github.run_id }}-${{ github.run_number }}-${{ github.run_attempt }}
    secrets:
      BUILD_ROLE_ARN: ${{ secrets.BUILD_ROLE_ARN }}

  build-chart-processor:
    uses: iccowan/AviationAPIv2/.github/workflows/build-module.yml@main
    needs: validate
    with:
      module-name: chart_processor
      build-number: ${{ github.run_id }}-${{ github.run_number }}-${{ github.run_attempt }}
    secrets:
      BUILD_ROLE_ARN: ${{ secrets.BUILD_ROLE_ARN }}

  build-chart-post-processor:
    uses: iccowan/AviationAPIv2/.github/workflows/build-module.yml@main
    needs: validate
    with:
      module-name: chart_post_processor
      build-number: ${{ github.run_id }}-${{ github.run_number }}-${{ github.run_attempt }}
    secrets:
      BUILD_ROLE_ARN: ${{ secrets.BUILD_ROLE_ARN }}

  build-names-summary:
    runs-on: ubuntu-latest
    needs: [build-frontend, build-api, build-chart-pre-processor, build-chart-processor, build-chart-post-processor]
    env:
      OUTPUT_FILE: "output.md"

    steps:
      - name: add build names to summary
        run: |
          echo "### Module Build Names" >> $OUTPUT_FILE
          echo "---" >> $OUTPUT_FILE
          echo "| Module | Build Name |" >> $OUTPUT_FILE
          echo "| ------ | ---------- |" >> $OUTPUT_FILE
          echo "| www | ${{ needs.build-frontend.outputs.build-name }} |" >> $OUTPUT_FILE
          echo "| api | ${{ needs.build-api.outputs.build-name }} |" >> $OUTPUT_FILE
          echo "| chart_pre_processor | ${{ needs.build-chart-pre-processor.outputs.build-name }} |" >> $OUTPUT_FILE
          echo "| chart_processor | ${{ needs.build-chart-processor.outputs.build-name }} |" >> $OUTPUT_FILE
          echo "| chart_post_processor | ${{ needs.build-chart-post-processor.outputs.build-name }} |" >> $OUTPUT_FILE

      - name: add build names to summary
        run: cat $OUTPUT_FILE >> $GITHUB_STEP_SUMMARY

      - name: comment build names on pr
        if: ${{ github.event_name == 'pull_request' }}
        run: gh pr comment ${{ github.event.number }} -R iccowan/AviationAPIv2 --create-if-none --edit-last -F $OUTPUT_FILE
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      

  deploy-prod-on-main-build:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' && github.event_name != 'workflow_dispatch' }}
    needs: [build-frontend, build-api, build-chart-pre-processor, build-chart-processor, build-chart-post-processor, validate-tf]

    steps:
      - name: trigger deploy to prod
        run: |
          gh workflow run deploy.yml -R iccowan/AviationAPIv2 -r main -f environment=prod -f build-name=${{ needs.build-api.outputs.build-name }}
          gh workflow run deploy.yml -R iccowan/AviationAPIv2 -r main -f environment=prod -f build-name=${{ needs.build-chart-pre-processor.outputs.build-name }}
          gh workflow run deploy.yml -R iccowan/AviationAPIv2 -r main -f environment=prod -f build-name=${{ needs.build-chart-processor.outputs.build-name }}
          gh workflow run deploy.yml -R iccowan/AviationAPIv2 -r main -f environment=prod -f build-name=${{ needs.build-chart-post-processor.outputs.build-name }}
          gh workflow run deploy-tf.yml -R iccowan/AviationAPIv2 -r main -f environment=prod
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

