name: build module

on:
  workflow_call:
    inputs:
      module-name:
        required: true
        type: string
      build-number:
        required: true
        type: string
    outputs:
      build-name:
        value: ${{ jobs.build-module.outputs.build-name }}
    secrets:
      BUILD_ROLE_ARN:
        required: true

permissions:
  id-token: write


jobs:
  build-module:
    runs-on: ubuntu-latest
    outputs:
      build-name: ${{ steps.build.outputs.build-name }}

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13.2
          cache: pip
          cache-dependency-path: |
            src/aviationapi/requirements.txt

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4.1.0
        with:
          role-to-assume: ${{ secrets.BUILD_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: build
        id: build
        run: ./src/aviationapi/scripts/build.sh ${{ inputs.module-name }}
        env:
          S3_BUCKET_NAME: ${{ vars.BUILD_S3_BUCKET_NAME }}
          BUILD_NUMBER: ${{ inputs.build-number }}

