name: deploy frontend
on: 
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: choice
        options:
          - sandbox
          - staging
          - prod
      build-name:
        required: true
        type: string

permissions:
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    env:
      AWS_PAGER: ""

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: configure aws credentials for deploy artifact download
        uses: aws-actions/configure-aws-credentials@v4.1.0
        with:
          role-to-assume: ${{ secrets.BUILD_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: download deploy artifact
        run: |
          aws s3api get-object  \
            --bucket ${{ vars.BUILD_S3_BUCKET_NAME }} \
            --key ${{ inputs.build-name }}.zip \
            --no-cli-pager \
            ${{ inputs.build-name }}.zip

      - name: unzip deploy artifact
        run: unzip ${{ inputs.build-name }}.zip -d build

      - name: set environment variables
        run: |
          echo 'export const env={"PUBLIC_API_URI":"${{ vars.PUBLIC_API_URI }}"}' > build/_app/env.js

      - name: configure aws credentials for deploy
        uses: aws-actions/configure-aws-credentials@v4.1.0
        with:
          role-to-assume: ${{ secrets.DEPLOY_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: deploy
        run: aws s3 sync ./build s3://${{ secrets.WWW_DEPLOY_S3_BUCKET_NAME }}/
